langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
pypdf
python-docx
pandas
openpyxl
python-dotenv
pyyaml
#langchain-google-genai
langchain_groq
docx2txt
flask
pytest